.zig-cache
zig-out

mqjs
mqjs.exe
example
example.exe
dtoa_test
libm_test

*.o
*.d
*~
tests/*.o
tests/*.d
tests/*~
test_builtin.bin
mqjs_stdlib
mqjs_stdlib.h
mquickjs_build_atoms
mquickjs_atom.h
mqjs_example
example_stdlib
example_stdlib.h